<!--
  Generated template for the RequestDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>request_data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let req_data of arr_req_data">
    <div *ngIf="get_sch_id == req_data.sch_id">
      <ion-item>
        <ion-label stacked>หัวข้อปัญหา</ion-label>
        <ion-input type="req_follow" disabled="true" value="{{req_data.rq_subject}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>วันที่รับคำร้อง/คำปรึกษา</ion-label>
        <ion-input type="req_follow" disabled="true" value="{{req_data.rq_date}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>ชื่อผู้รับปัญหา</ion-label>
        <ion-input type="req_follow" disabled="true" value="{{req_data.rq_responsible}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>ชื่อผู้พบปัญหา</ion-label>
        <ion-input type="req_follow" disabled="true" value="{{req_data.rq_name_reply}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>รายละเอียดปัญหา</ion-label>
        <ion-input type="req_follow" disabled="true" value="{{req_data.rq_detail}}"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label stacked>ช่องทางการติดต่อ</ion-label>
        <ion-input type="req_follow" disabled="true" value="เอาจากไหน"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label stacked>ชื่อโครงการ</ion-label>
        <ion-input type="req_follow" disabled="true" value="{{req_data.sch_name}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>รหัสโครงการ</ion-label>
        <ion-input type="req_follow" disabled="true" value="{{req_data.sch_code}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>ทีมพัฒนาระบบ</ion-label>
        <ion-input type="req_follow" disabled="true" value="{{req_data.team_name}}"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label stacked>หมวด</ion-label>
        <ion-input type="req_follow" disabled="true" value="เอาจากไหน"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>ประเภท</ion-label>
        <ion-input type="req_follow" disabled="true" value="เอาจากไหน"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label stacked>ผู้รับผิดชอบดำเนินการแก้ไข</ion-label>
        <ion-input type="req_follow" disabled="true" value="{{req_data.rq_subject}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>สถานะการดำเนินงาน</ion-label>
        <ion-input type="req_follow" disabled="true" value="{{req_data.status_name}}"></ion-input>
      </ion-item>
    </div>

  </div>

</ion-content>